<form class="form-inline" style="margin:10px 10px">
    <input class="form-control mb-2 mr-sm-2" [(ngModel)]="user" name="user" placeholder="username">   
    <input class="form-control mb-2 mr-sm-2" [(ngModel)]="room" name="room" placeholder="room">
    <button class="btn btn-success mb-2" style="margin-right:10px" (click)="join()">Join</button>
    <button class="btn btn-danger mb-2" (click)="leave()">Leave</button>
</form>

<div class="card card-body bg-light" style="height:300px;margin:1%">
    <div *ngFor="let message of messageArray">
        <p>{{message.user}}: {{message.message}}</p>
    </div>
</div>

<form class="form-inline" style="margin:10px 10px">
    <input class="form-control mb-2 mr-sm-2" style="width: 450px;" [(ngModel)]="message" name="message" placeholder="Enter message" />
    <button class="btn btn-primary mb-2" style="margin-left:10px" (click)="send()">Send</button>
</form>
